body {
    background-color: #f9E0D9;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

a:link {
    color: #7D6167;
    font-size: larger;
    font-style: normal;
    text-decoration: none;

}

a:visited {
    color: #754F5B;
}

a:hover {
    color: #5D4954;
}

nav {
    background-color: #E6DBD0;
    border: double #5D4954 8px;
    margin: auto;
    position: sticky;
    top: 0px;
    z-index: 3;
    padding: 20px;
}

.title {
    position: absolute;
    right: 40px;
    z-index: 2;
    top: 0%;
    color: #754F5B;
}


#menu-check {display: none;}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}


#menu-toggle {
    display: none;
}


.menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {
 nav {
    display: none;
    padding: 40px;
}

/* Show menu when checkbox is checked */
#menu-check:checked~nav {
    display: block;
}


/* Hide the checkbox */
#menu-check {
    display: none;
}
.menu-icon {display: block;}
}