body {
    background-color: rgb(0, 128, 157);
}

nav {
    background-color: rgb(252, 248, 221);
    border: dotted 3px rgb(211, 175, 55);
    margin: auto;
    width: 50%;
    position: sticky;
    top: 0px;
}
a:link {
    color: rgb(0, 128, 157);
    text-decoration: none;
    font-size: xx-large;
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}

a:hover {
    background-color: rgb(255, 215, 0);
}

a:visited {
    background-color: rgb(211, 175, 55);
}