body {
    background-color: rgb(0, 128, 157);
}

nav {
    background-color: rgb(252, 248, 221);
    border: dotted 3px rgb(211, 175, 55);
    margin: auto;
    width: 50%;
    position: sticky;
    top: 0px;
}

.Headers {
    margin-bottom: 4px;
    margin-left: 45%;
    border: dotted rgb(211, 175, 55);
    width: fit-content;
    color: rgb(252, 248, 221);
    font-family: "Matemasie", sans-serif;

}


.KNIFEU {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 20px;
}

img {
    width: 300px;
}

p,
h1,
h6 {
    font-family: "Gluten", cursive;
    color: rgb(255, 215, 0);
}

h2 {
    font-family: "Matemasie", sans-serif;
    font-size: larger;
    color: rgb(211, 175, 55);
}

li {
    font-family: "Twinkle Star", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    color: rgb(252, 248, 221);
}

h4 {
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 215, 0);
}

h3,
h5 {
    font-family: "Sue Ellen Francisco", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: x-large;
    color: rgb(211, 175, 55);
}


a:link {
    color: rgb(0, 128, 157);
    text-decoration: none;
    font-size: xx-large;
    font-family: "Short Stack", cursive;
    font-weight: 400;
    font-style: normal;
}

a:hover {
    background-color: rgb(255, 215, 0);
}

a:visited {
    background-color: rgb(211, 175, 55);
}

main,
section,
aside,
footer {
    border: double 3px rgb(211, 175, 55);
    margin: auto;
    width: 50%;
    padding: 25px;
}

/*The padding helps to make the website not feel as crowded*/
#click {
    rotate: 270deg;
    position: absolute;
    left: 40%;
    width: 300px;
}
img {width: 400px;}